/* date picker*/
.date-picker{
	position:absolute;
	margin-top: -1px;
	border: 1px solid #888;
	background-color: #fff;
	border-radius: 3px;
	cursor:default;
	z-index:10;
	display:none;
	user-select: none;
}

.date-picker-title{
	position: relative;
	text-align:center;
	font-size:13px;
	padding:6px 0 0 0 ;
	background-color:#eee;
}

.date-picker-title span{
	vertical-align: middle;
}

.date-picker-switch{
	position:absolute;
	top:50%;
	margin-top:-7px;
	cursor:pointer;
}

.date-picker-table{
	display:table;
}

.date-picker-row-group{
	display:table-row-group;
}

.date-picker-row{
	display:table-row;
}

.date-picker-cell{
	display:table-cell;
	text-align:center;
	padding:5px;
	font-size:13px;
}

.date-picker-row.day .date-picker-cell{
	background-color:#eee;
	border-bottom: 1px solid #888;
	color:#888;
}
/*
.date-picker-row:not(.day) .date-picker-cell:first-child{
	background-color:#eee;
	border-right: 1px solid #ccc;
	color:#888;
}
*/
.date-picker-row-group.date .date-picker-row:not(.day) .date-picker-cell/*:not(:first-child)*/:hover{
	background-color:#555;
	color:#FFF;
	cursor:pointer;
	border-radius: 0px;
}

.date-picker-row-group.week .date-picker-row:not(.day):hover .date-picker-cell/*:not(:first-child)*/{
	background-color:#555;
	color:#FFF;
	cursor:pointer;
	border-radius: 0px;
}

.date-picker-cell.today{
	background-color:#eee;
	border-radius: 0px;
}

.date-picker-row.active .date-picker-cell,
.date-picker-cell.active{
	background-color:#555;
	color:#FFF;
}

.date-picker-cell.out{
	color:#ccc;
}

/* month picker*/
.month-picker{
	position:absolute;
	margin-top: -1px;
	border: 1px solid #888;
	background-color: #fff;
	border-radius: 3px;
	cursor:default;
	z-index:10;
	display:none;
	user-select: none;
}

.month-picker-title{
	position: relative;
	text-align:center;
	font-size:13px;
	padding:6px 0 5px 0;
	background-color:#eee;
	border-bottom: 1px solid #888;
}

.month-picker-title span{
	vertical-align: middle;
}

.month-picker-switch{
	position:absolute;
	top:50%;
	margin-top:-9px;
	cursor:pointer;
}

.month-picker-table{
	display:table;
}

.month-picker-row-group{
	display:table-row-group;
}

.month-picker-row{
	display:table-row;
}

.month-picker-cell{
	display:table-cell;
	text-align:center;
	padding:10px 15px;
	font-size:13px;
}

.month-picker-row .month-picker-cell:first-child{
	background-color:#eee;
	border-right: 1px solid #ccc;
	color:#888;
	padding:10px 5px;
}

.month-picker-row-group.month .month-picker-row .month-picker-cell:not(:first-child):hover{
	background-color:#555;
	color:#FFF;
	cursor:pointer;
	border-radius: 0px;
}

.month-picker-row-group.quarter .month-picker-row:hover .month-picker-cell:not(:first-child){
	background-color:#555;
	color:#FFF;
	cursor:pointer;
	border-radius: 0px;
}

.month-picker-cell.today{
	background-color:#eee;
	border-radius: 0px;
}

.month-picker-row.active .month-picker-cell:not(:first-child),
.month-picker-cell.active{
	background-color:#555;
	color:#FFF;
}

/* year picker*/
.year-picker{
	position:absolute;
	margin-top: -1px;
	border: 1px solid #888;
	background-color: #fff;
	border-radius: 3px;
	cursor:default;
	z-index:10;
	display:none;
	user-select: none;
}

.year-picker-title{
	position: relative;
	text-align:center;
	font-size:13px;
	padding:6px 0 5px 0;
	background-color:#eee;
	border-bottom: 1px solid #888;
}

.year-picker-title span{
	vertical-align: middle;
}

.year-picker-switch{
	position:absolute;
	top:50%;
	margin-top:-9px;
	cursor:pointer;
}

.year-picker-table{
	display:table;
}

.year-picker-row-group{
	display:table-row-group;
}

.year-picker-row{
	display:table-row;
}

.year-picker-cell{
	display:table-cell;
	text-align:center;
	padding:10px 15px;
	font-size:13px;
}

.year-picker-row-group .year-picker-row .year-picker-cell:hover{
	background-color:#555;
	color:#FFF;
	cursor:pointer;
	border-radius: 0px;
}

.year-picker-cell.today{
	background-color:#eee;
	border-radius: 0px;
}

.year-picker-cell.active{
	background-color:#555;
	color:#FFF;
}