html {
	height: 100%;
}

body {
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    position: relative;
    min-height: 100%;
}

.wrapper{
    padding: 28px;
}

.signup-block{
	width:500px;
	border: 1px solid #ccc;
	margin: auto;
	padding:20px;
	background-color: #fff;
	outline: 1px solid #F1F1F1;
}

.signup-block-title{
	font-size: 22px;
	text-align:center;
	margin-bottom: 20px;
}

.signup-block-step{
	width:400px;
	margin: auto;
	position:relative;
	margin-bottom: 40px;
}

.signup-block-step-path-container{
	position:absolute;
	top:23px;
	width:100%;
}

.signup-block-step-path{
	background-color:#757575;
	height:3px;
	margin:0 25px;
}

.signup-block-step-container{
	position:relative;
	top:0px;
	left:0px;
	width:100%;
}

.signup-block-step-wrapper{
	float:left;
	width:33.3%;
}

.signup-block-step-box{
	width:100px;
}

.signup-block-step-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0px 0px 13px 3px #035002;
    margin: auto;
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgb(255 255 255) 100%);
    color: #035002;
}

.signup-block-step-circle.finish{
	background: linear-gradient(to bottom, #035002 0%,rgba(173,173,173,1) 100%);
	color:#FFF;
}

.signup-block-step-title{
	margin-top:10px;
	text-align:center;
}

.signup-block-message{
	line-height:150%;
	width:400px;
	margin:auto;
}

/*step1 only*/
.signup-block-form-padding{
	height:10px;
}

.signup-block-form-error{
	font-size:12px;
	color:#FF1700;
	padding-top:3px;
}