<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <remove name="PHP_via_FastCGI" />
      <add name="IoTstar" path="*.php" verb="GET,POST" modules="FastCgiModule" scriptProcessor="D:\App\IoTstar\IIS\PHP74\php-cgi.exe" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="iotstar.php" />
      </files>
    </defaultDocument>
    <staticContent>
      <mimeMap fileExtension=".*" mimeType="application/octet-stream" />
      <mimeMap fileExtension="." mimeType="application/octet-stream" />
    </staticContent>
    <rewrite>
      <rules>
        <clear />
        <rule name="DefaultDocumentRule" stopProcessing="true">
          <match url="^index.php$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_URI}" pattern="^/index.php(.*)$" />
          </conditions>
          <action type="Redirect" url="{C:1}" appendQueryString="false" />
        </rule>
        <rule name="SerialNumberRule1">
          <match url="^([0-9A-Za-z]{16})/(.*)$" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/([0-9A-Za-z]{16})/(.*)$" />
            <add input="{SerialNumberMap:{C:1}}" pattern="^/cache/([^/]+)/([^/]+)/([0-9A-Za-z]{16})/$" />
          </conditions>
          <action type="Rewrite" url="/cache/{C:1}/{C:2}/{R:2}" />
        </rule>
        <rule name="SerialNumberRule2">
          <match url="^/cache/([^/]+)/([^/]+)/?(.*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="redirect.php?{R:1}/{R:2}/{R:3}" appendQueryString="false" />
        </rule>
      </rules>
      <rewriteMaps>
        <rewriteMap name="SerialNumberMap">
        </rewriteMap>
      </rewriteMaps>
    </rewrite>
  </system.webServer>
</configuration>